In [4]:
#importaciones
import csv
import json
import pandas as pd

In [137]:
# abrimos globant
 
lect = pd.read_csv('GLOBANT.csv')

# pasamos el archivo a dataframe

globant = pd.DataFrame(lect)

# creamos el dataframe de analisis
analisis = pd.DataFrame()

globant

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-04-26,232.000000,238.500000,231.750000,238.029999,238.029999,167900
1,2021-04-27,238.589996,240.940002,236.539993,239.539993,239.539993,144100
2,2021-04-28,239.789993,240.115005,233.850006,234.000000,234.000000,126400
3,2021-04-29,235.470001,236.378006,229.229996,233.800003,233.800003,147800
4,2021-04-30,231.050003,236.889999,229.000000,229.179993,229.179993,139100
...,...,...,...,...,...,...,...
247,2022-04-18,230.960007,233.119995,224.699997,228.429993,228.429993,396700
248,2022-04-19,227.740005,237.345001,226.100006,236.949997,236.949997,212700
249,2022-04-20,239.250000,241.830002,232.520004,234.500000,234.500000,150700
250,2022-04-21,238.570007,240.350006,220.399994,221.410004,221.410004,202000
251,2022-04-22,221.419998,223.649994,213.699997,217.309998,217.309998,220700

In [138]:
#Llmamos los datos de Fecha de analisis con los datos de Date de globant 
analisis['Fecha'] = globant['Date']
#llamos los datos de comportamiento restando open - close y fijando condicion
analisis['Comportamiento de la accion'] = globant.apply(lambda x: 'SUBE' if x.Close - x.Open > 0 else 'BAJA' if x.Close - x.Open < 0 else 'ESTABLE', axis=1)
#llamamos los datos para puntp medio h-l/2
analisis['Punto medio HIGH - LOW'] = (globant['High'] - globant['Low']) / 2
#convertimos a csv separado por tabulacion
analisis.to_csv('analisis_archivo.csv', sep='\t', index=False)

analisis

          Fecha Comportamiento de la accion  Punto medio HIGH - LOW
0    2021-04-26                        SUBE                3.375000
1    2021-04-27                        SUBE                2.200004
2    2021-04-28                        BAJA                3.132499
3    2021-04-29                        BAJA                3.574005
4    2021-04-30                        BAJA                3.944999
..          ...                         ...                     ...
247  2022-04-18                        BAJA                4.209999
248  2022-04-19                        SUBE                5.622497
249  2022-04-20                        BAJA                4.654999
250  2022-04-21                        BAJA                9.975006
251  2022-04-22                        BAJA                4.974998

[252 rows x 3 columns]

In [139]:
#verificación no va en codigo
analisis['Comportamiento de la accion'].value_counts()

analisis['Comportamiento de la accion'].str.contains('SUBE').value_counts()[True]

analisis.count()

Fecha                          252
Comportamiento de la accion    252
Punto medio HIGH - LOW         252
dtype: int64

In [140]:
dat = {'date_lowest_price': [],
        'lowest_price': [],
        'date_highest_price': [],
        'highest_price': [],
        'cantidad_veces_sube': [],
        'cantidad_veces_baja': [],
        'cantidad_veces_estable': [],}

from collections import Counter

contar = Counter(list(zip(analisis['Comportamiento de la accion'])))
dat["date_lowest_price"] = ''.join(list(globant.loc[globant['Low'] == globant['Low'].min()]['Date']))
dat["lowest_price" ] = globant['Low'].min()
dat["date_highest_price"] = ''.join(list(globant.loc[globant['High'] == globant['High'].max()]['Date']))
dat["highest_price" ] = globant['High'].max()
dat["cantidad_veces_sube" ] = contar['SUBE',]
dat["cantidad_veces_baja" ] = contar['BAJA',]
dat["cantidad_veces_estable" ] = contar['ESTABLE',]

dat

{'date_lowest_price': '2021-05-13',
 'lowest_price': 202.580002,
 'date_highest_price': '2021-11-09',
 'highest_price': 354.619995,
 'cantidad_veces_sube': 124,
 'cantidad_veces_baja': 128,
 'cantidad_veces_estable': 0}

In [141]:
with open('detalles.json', 'w') as new:
    json.dump(dat, new)
    
new

In [152]:
dat = {'date_lowest_price': [],
        'lowest_price': [],
        'date_highest_price': [],
        'highest_price': [],
        'cantidad_veces_sube': [],
        'cantidad_veces_baja': [],
        'cantidad_veces_estable': [],}



dat["cantidad_veces_sube" ] = analisis['Comportamiento de la accion'].str.contains('SUBE').value_counts()[True]
dat["cantidad_veces_baja" ] = analisis['Comportamiento de la accion'].str.contains('BAJA').value_counts()[True]
dat["cantidad_veces_estable" ] = analisis['Comportamiento de la accion'].str.contains('ESTABLE').value_counts()


dat

{'date_lowest_price': [],
 'lowest_price': [],
 'date_highest_price': [],
 'highest_price': [],
 'cantidad_veces_sube': 124,
 'cantidad_veces_baja': 128,
 'cantidad_veces_estable': False    252
 Name: Comportamiento de la accion, dtype: int64}